<!-- index.html -->
{% extends 'polls/base.html' %}

{% load static %}

{% block content %}
<h1 class="poll-title"><span class="color">u</span>Vote.</h1>
<h2 class="motto">Your opinion matters 💬</h2>

<p class="instruction">▶ Comment ça marche? C'est simple, clique sur un thème et vote 👇</p>

{% if latest_question_list %}
<div class="carousel">
    <ul class="question-list">
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}
<p class="bye">Passe un bon moment! 😄</p>
<script src="{% static 'polls/script.js' %}"></script>
{% endblock %}