@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: raleway, sans-serif;
    /* Mon écran sans marges */
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
    background-size: 200% 200%;
    /* Pour permettre l'animation fluide */
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.poll-title {
    text-align: right;
    font-size: 7.5rem;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 0px;
}

.motto {
    text-align: right;
    font-size: 3rem;
    font-weight: 100;
    color: white;
    margin-right: 50px;
    margin-top: 0;
}

/* Style pour la liste des questions */
.question-list {
    list-style-type: none;
    /* Supprimer les puces */
    padding: 30px;
    margin-top: 5px;
    text-align: center;
    /* Centrer les questions */
}

.question-list li {
    margin: 10px 0;
    /* Espacement entre les questions */
}

.question-list li a {
    font-size: 1.7rem;
    /* Taille des liens */
    color: white;
    /* Couleur des liens */
    text-decoration: none;
}

.question-list li a:hover {
    color: yellow;
    /* Changement de couleur au survol */
}